// Place all the styles related to the Stalk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family:'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
}
body,form {
  margin:0px;
  padding:0px;
}

input[type=text] {
  font-size: 1em;
  width:400px;
  border:1px solid #d9d9d9;
  margin:0px ;

}
input[type=submit] {
  font-size: 0.7em;
  color:#757575;
  font-weight:bold;
  background-color:#f4f4f4;
  border:1px solid #d9d9d9;
  margin:0px auto;
  padding:3px;
}
.stalkee img
{
  border-radius:5px;
  border:1px solid #5caed7;
  width:48px;
  height:48px;
}
.stalkee,.follower
{
  height:52px;
  overflow:hidden;
  min-width:230px;
  float:left;
  padding:5px;
  border:1px solid #5caed7;
  border-radius:5px;
  -webkit-box-shadow:#e0e0e0 1px 1px 5px 0;
  background-color:#e8f4fa;
  margin:10px;
}
.results
{
  padding:10px;
}

.footer
{
  text-align:center;
  font-size:0.7em;
  margin:50px;
}

.help{
  color:gray;
  font-size:0.7em;
}
